
@import 'normalize';
@import 'colors';


body {
  font-family: 'Arimo', sans-serif;
  color: $dark;
}

header {
  background: $dark;
  padding: 2em 0;
  color: white;
  text-align: center;

  h1 {
    margin: 0;
  }
}

.date, .time {
  text-align: center;
  margin: 1rem 0;
}

.element-group {
  text-align: center;
  display: inline-block;

  .element {
    display: inline-block;
    border: 1px solid $gray;
    position: relative;
    padding: 1em;
    margin: .5rem;
    width: 120px;
    cursor: default;
    box-shadow: 2px 2px 5px $gray;

    .number {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .symbol {
      display: block;
      font-size: 5rem;
    }

    .name {
      display: block;
    }
  }

  .label {
    text-transform: uppercase;
    color: $gray;
    font-size: .9em;
  }
}
